body {
    padding-top: 70px;
}
 
.myImg{
    max-width:150px;
    height:30px;
}
 
.fixeds {
  
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 40px;
}
.SearchHere {
    display: block;
    width: 130px;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    color: #495057;
    background-image: url(bootstrap.css);
    background-image: url('../Content/فى حب مصر.jpg');
    background-position:left;
    background-size:cover;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.SearchHere:focus {
    width:100%;
}

.navbars{
    padding:20px;
    margin-bottom:10px;
}


#navLink{
    text-decoration:none

}

.dropdownContainer{
    width:350px;
}
#navbarDropdown{
    margin-right:60px;
}
#navbarDropdown:focus
{
    background-color:darkgray;
    border-radius:10px;
}
#navbarDropdown:hover
{
    color:darkblue;
}
.row{
    margin-top: 26px;
}
.userImage{

    font-size:80px;
    padding-left:20px;
}

.ulClass{
        display: flex;
}

.ulClass li{
    margin-right:30px;
}

@media (min-width: 768px)
{
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 24%;
    margin-right: 11px
}
}

